USE [master]
GO
/****** Object:  Database [EmpresasDB]    Script Date: 31/03/2020 21:42:07 ******/
CREATE DATABASE [EmpresasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmprendimientosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\EmprendeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmprendimientosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\EmprendeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresasDB]
GO
/****** Object:  Schema [produccion]    Script Date: 31/03/2020 21:42:07 ******/
CREATE SCHEMA [produccion]
GO
/****** Object:  Table [produccion].[tbActividadEconomica]    Script Date: 31/03/2020 21:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [produccion].[tbActividadEconomica](
	[ciiu] [varchar](4) NOT NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ciiu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [produccion].[tbEmprendimiento]    Script Date: 31/03/2020 21:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [produccion].[tbEmprendimiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[razonsocial] [varchar](500) NOT NULL,
	[nombrecomercial] [varchar](300) NULL,
	[idubigeo] [int] NULL,
	[fecinicio] [datetime] NULL,
	[estado] [bit] NULL,
	[comentario] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [produccion].[tbEmprendimientoActividad]    Script Date: 31/03/2020 21:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [produccion].[tbEmprendimientoActividad](
	[idemprendimiento] [int] NOT NULL,
	[ciiu] [varchar](4) NOT NULL,
	[fecregistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idemprendimiento] ASC,
	[ciiu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [produccion].[tbUbigeo]    Script Date: 31/03/2020 21:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [produccion].[tbUbigeo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](6) NULL,
	[departamento] [varchar](100) NULL,
	[provincia] [varchar](100) NULL,
	[distrito] [varchar](100) NULL,
	[poblacion] [int] NULL,
	[areakm2] [int] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [produccion].[tbActividadEconomica] ([ciiu], [descripcion]) VALUES (N'0111', N'CULTIVO DE CEREALES (EXCEPTO ARROZ), LEGUMBRES Y SEMILLAS OLEAGINOSAS')
INSERT [produccion].[tbActividadEconomica] ([ciiu], [descripcion]) VALUES (N'0112', N'CULTIVO DE ARROZ')
INSERT [produccion].[tbActividadEconomica] ([ciiu], [descripcion]) VALUES (N'0113', N'CULTIVO DE HORTALIZAS Y MELONES, RAÍCES Y TUBÉRCULOS.')
GO
SET IDENTITY_INSERT [produccion].[tbEmprendimiento] ON 

INSERT [produccion].[tbEmprendimiento] ([id], [ruc], [razonsocial], [nombrecomercial], [idubigeo], [fecinicio], [estado], [comentario]) VALUES (1, N'11111111111', N'COMERCIAL LINARES SAC', N'COMLINA', 1, CAST(N'2018-01-13T21:12:31.747' AS DateTime), 1, NULL)
INSERT [produccion].[tbEmprendimiento] ([id], [ruc], [razonsocial], [nombrecomercial], [idubigeo], [fecinicio], [estado], [comentario]) VALUES (2, N'22222222222', N'COMERCIAL MENDOZA SAC', N'COMEMENDOZA', 2, CAST(N'2018-01-13T21:12:31.747' AS DateTime), 1, NULL)
INSERT [produccion].[tbEmprendimiento] ([id], [ruc], [razonsocial], [nombrecomercial], [idubigeo], [fecinicio], [estado], [comentario]) VALUES (3, N'33333333333', N'COMERCIAL MANRIQUE SAC', N'COMANRIQUE', 3, CAST(N'2018-01-13T21:12:31.747' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [produccion].[tbEmprendimiento] OFF
INSERT [produccion].[tbEmprendimientoActividad] ([idemprendimiento], [ciiu], [fecregistro]) VALUES (1, N'4651', NULL)
INSERT [produccion].[tbEmprendimientoActividad] ([idemprendimiento], [ciiu], [fecregistro]) VALUES (1, N'4741', NULL)
INSERT [produccion].[tbEmprendimientoActividad] ([idemprendimiento], [ciiu], [fecregistro]) VALUES (1, N'5820', NULL)
GO
SET IDENTITY_INSERT [produccion].[tbUbigeo] ON 

INSERT [produccion].[tbUbigeo] ([id], [codigo], [departamento], [provincia], [distrito], [poblacion], [areakm2], [estado]) VALUES (1, N'010101', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS', 28731, 135, 1)
INSERT [produccion].[tbUbigeo] ([id], [codigo], [departamento], [provincia], [distrito], [poblacion], [areakm2], [estado]) VALUES (2, N'010102', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION', 288, 27, 1)
INSERT [produccion].[tbUbigeo] ([id], [codigo], [departamento], [provincia], [distrito], [poblacion], [areakm2], [estado]) VALUES (3, N'010103', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS', 1625, 326, 1)
GO
SET IDENTITY_INSERT [produccion].[tbUbigeo] OFF
ALTER TABLE [produccion].[tbEmprendimientoActividad] ADD  DEFAULT (getdate()) FOR [fecregistro]
GO
ALTER TABLE [produccion].[tbEmprendimiento]  WITH CHECK ADD FOREIGN KEY([idubigeo])
REFERENCES [produccion].[tbUbigeo] ([id])
GO
ALTER TABLE [produccion].[tbEmprendimientoActividad]  WITH NOCHECK ADD FOREIGN KEY([idemprendimiento])
REFERENCES [produccion].[tbEmprendimiento] ([id])
GO
ALTER TABLE [produccion].[tbEmprendimientoActividad]  WITH NOCHECK ADD FOREIGN KEY([ciiu])
REFERENCES [produccion].[tbActividadEconomica] ([ciiu])
GO
USE [master]
GO
